# Данные (тяжелые) — не коммитим
data/
stage1/
*.zip
*.tar.gz

# Содержимое папок игнорируем, но саму структуру (.gitkeep) оставляем
checkpoints/*
!checkpoints/.gitkeep

predictions/*
!predictions/.gitkeep

results/logs/*
!results/logs/.gitkeep

submission/*
!submission/.gitkeep

# Кэш Python и Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Виртуальные окружения
.venv/
venv/
env/

# Логи и временные файлы
*.log

# Локальные конфиги
.env

# IDE (VS Code и JetBrains)
.vscode/
.idea/
*.iml

# Системные файлы ОС
.DS_Store
Thumbs.db